Integration Middleware/Schemas/order.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2015 Developer Bundle Edition (Education) 13.2.3.6018 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Order">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userID" type="xs:string" minOccurs="1" maxOccurs="1" />
                <xs:element name="phoneNumber" type="xs:string" minOccurs="0" maxOccurs="1" />
                <xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="1" />
                <xs:element name="destination" type="xs:string" minOccurs="1" maxOccurs="1" />
                <xs:element name="currentLocation" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="latitude" type="xs:decimal" minOccurs="1" maxOccurs="1" />
                            <xs:element name="longitude" type="xs:decimal" minOccurs="1" maxOccurs="1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
