Integration Middleware/Schemas/order_confirm.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2015 Developer Bundle Edition (Education) 13.2.3.6018 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="order_confirm">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userName" type="xs:string" />
                <xs:element name="driverName" type="xs:string" />
                <xs:element name="carPlate" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
